.mb-3 {
    font-family: Georgia, "Times New Roman", Times, serif;
	background: rgb(173, 173, 173);
	border: none;
	border-radius: 10px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #dbdbdb;
	color:#000000;
	-webkit-box-shadow: 0 1px 0 rgba(94, 255, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgb(235, 0, 0) inset;
	margin-bottom: 30px;
}


.formcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px !important;
    max-width: 60%;
  padding: 10px 20px;
  background: #f4f7f800;
  margin: 10px auto;
  padding: 20px;
  background: #008ebe00;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}